[default]
nick = pyrefly
id = ****@talkr.im/bot
password = ****

[omegle]
id = ****@talkr.im/bot
password = ****
server = http://bajor.omegle.com
nickList = ['Omegler', 'Stranger', 'Strangler', 'Creeper', 'Monster']

# Must match the template: https://spreadsheets.google.com/spreadsheet/ccc?key=0AvXzDtTstzvWdHN4WGZHSUM0dE42eUZGN1Z4MEw5dkE&hl=en_US
[db]
account = ****@gmail.com
password = ****
spreadsheet = 0AnH6-TZ2sGredGU5ZGJHbGlyRlR2dXVNbnJUWmFvVUE

[pyrefight]
spreadsheet_id = <google spreadsheet id can be found in the URL of the spreadsheet>
account =  ****@mail.com
pass = ****

[testmoth@chat.speeqe.com]
nick = pyrefly
pass = pass
autojoin = false
control = true
