[default]
nick = pyrefly
id = ****@talkr.im/bot
password = ****

[omegle]
id = ****@talkr.im/bot
password = ****
server = http://bajor.omegle.com
nickList = ['Omegler', 'Stranger', 'Strangler', 'Creeper', 'Monster']

[dictionary]
spreadsheet_id = 0AnH6-TZ2sGredGU5ZGJHbGlyRlR2dXVNbnJUWmFvVUE
worksheet_id = od6
account =  ****@mail.com
pass = ****

[testmoth@chat.speeqe.com]
nick = pyrefly