[default]
nick = pyrefly
id = ****@talkr.im/bot
password = ****

[omegle]
id = ****@talkr.im/bot
password = ****
server = http://bajor.omegle.com
nickList = ['Omegler', 'Stranger', 'Strangler', 'Creeper', 'Monster']

[testmoth@chat.speeqe.com]

[sandmoth@chat.speeqe.com]
nick = camelfly